<h1 class="countries">北米・南米の観光名所</h1>
<div class="country">
  <h2>ペルー</h2>
  <div class="contents">
    <img src="<%= image_path 'peru.jpg' %>" alt="peru" class="photo">
    <p class="title">Machu Picchu</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <img src="<%= image_path 'peru2.jpg' %>" alt="peru2" class="photo">
    <p class="title">peru2</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <img src="<%= image_path 'peru3.jpg' %>" alt="peru3" class="photo">
    <p class="title">peru3</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>
<div class="country">
  <h2>ボリビア</h2>
  <div class="contents">
    <img src="<%= image_path 'uyuni.jpg' %>" alt="uyuni" class="photo">
    <p class="title">uyuni1</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <img src="<%= image_path 'uyuni2.jpg' %>" alt="uyuni2" class="photo">
    <p class="title">uyuni2</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <img src="<%= image_path 'uyuni3.jpg' %>" alt="uyuni3" class="photo">
    <p class="title">uyuni3</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>