<h1 class="countries">Sightseeing Spots in America</h1>
<div class="country">
  <h2>Peru</h2>
  <div class="contents">
    <a class="popup" href="<%= image_path 'peru.jpg' %>"><img src="<%= image_path 'peru.jpg' %>" alt="peru" class="photo"></a>
    <p class="title">Machu Picchu</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'peru2.jpg' %>"><img src="<%= image_path 'peru2.jpg' %>" alt="peru2" class="photo"></a>
    <p class="title">Peru2</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'peru3.jpg' %>"><img src="<%= image_path 'peru3.jpg' %>" alt="peru3" class="photo"></a>
    <p class="title">Peru3</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>
<div class="country">
  <h2>Bolivia</h2>
  <div class="contents">
    <a class="popup" href="<%= image_path 'uyuni.jpg' %>"><img src="<%= image_path 'uyuni.jpg' %>" alt="uyuni" class="photo"></a>
    <p class="title">Uyuni1</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'uyuni2.jpg' %>"><img src="<%= image_path 'uyuni2.jpg' %>" alt="uyuni2" class="photo"></a>
    <p class="title">Uyuni2</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'uyuni3.jpg' %>"><img src="<%= image_path 'uyuni3.jpg' %>" alt="uyuni3" class="photo"></a>
    <p class="title">Uyuni3</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>