<h1 class="countries">Sightseeing Spots in Asia & Africa</h1>
<div class="country">
  <h2>India・Cambodia</h2>
  <div class="contents">
    <a class="popup" href="<%= image_path 'india.jpg' %>"><img src="<%= image_path 'india.jpg' %>" alt="india" class="photo"></a>
    <p class="title">India</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'india2.jpg' %>"><img src="<%= image_path 'india2.jpg' %>" alt="india2" class="photo"></a>
    <p class="title">India2</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'cambodia.jpg' %>"><img src="<%= image_path 'cambodia.jpg' %>" alt="cambodia" class="photo"></a>
    <p class="title">Cambodia</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>
<div class="country">
  <h2>Egypt</h2>
  <div class="contents">
    <a class="popup" href="<%= image_path 'egypt.jpg' %>"><img src="<%= image_path 'egypt.jpg' %>" alt="egypt" class="photo"></a>
    <p class="title">Egypt</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'egypt2.jpg' %>"><img src="<%= image_path 'egypt2.jpg' %>" alt="egypt2" class="photo"></a>
    <p class="title">Egypt2</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'egypt3.jpg' %>"><img src="<%= image_path 'egypt3.jpg' %>" alt="egypt3" class="photo"></a>
    <p class="title">Egypt3</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>