<h1 class="countries">アジア・アフリカの観光名所</h1>
<div class="country">
  <h2>インド・カンボジア</h2>
  <div class="contents">
    <img src="<%= image_path 'india.jpg' %>" alt="india" class="photo">
    <p class="title">india</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <img src="<%= image_path 'india2.jpg' %>" alt="india2" class="photo">
    <p class="title">india2</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <img src="<%= image_path 'cambodia.jpg' %>" alt="cambodia" class="photo">
    <p class="title">cambodia</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>
<div class="country">
  <h2>エジプト</h2>
  <div class="contents">
    <img src="<%= image_path 'egypt.jpg' %>" alt="egypt" class="photo">
    <p class="title">egypt</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <img src="<%= image_path 'egypt2.jpg' %>" alt="egypt2" class="photo">
    <p class="title">egypt2</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <img src="<%= image_path 'egypt3.jpg' %>" alt="egypt3" class="photo">
    <p class="title">egypt3</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>