<h1 class="countries">Sightseeing Spots in Europe</h1>
<div class="country">
  <h2>Spain・Germany</h2>
  <div class="contents">
    <a class="popup" href="<%= image_path 'spain.jpeg' %>"><img src="<%= image_path 'spain.jpeg' %>" alt="spain" class="photo"></a>
    <p class="title">Spain</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'germany.jpeg' %>"><img src="<%= image_path 'germany.jpeg' %>" alt="spain" class="photo"></a>

    <p class="title">Germany</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'germany2.jpeg' %>"><img src="<%= image_path 'germany2.jpeg' %>" alt="germany2" class="photo"></a>
    <p class="title">Germany2</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>
<div class="country">
  <h2>England・France・Italy</h2>
  <div class="contents">
    <a class="popup" href="<%= image_path 'england.jpeg' %>"><img src="<%= image_path 'england.jpeg' %>" alt="england" class="photo"></a>
    <p class="title">England</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'france.jpeg' %>"><img src="<%= image_path 'france.jpeg' %>" alt="france" class="photo"></a>
    <p class="title">France</p>
    <button class="btn btn-primary">Like</button>
  </div>
  <div class="contents">
    <a class="popup" href="<%= image_path 'italy.jpeg' %>"><img src="<%= image_path 'italy.jpeg' %>" alt="italy" class="photo"></a>
    <p class="title">Italy</p>
    <button class="btn btn-primary">Like</button>
  </div>
</div>


