<div class="row">
<% microposts.each do |micropost| %>
  <% user = micropost.user %>
  <!-- "row"と"col-md-4"を追加して、一列に複数の写真を並べる（float:leftなどでは調整できなかった）  -->
  <div class="col-md-3">
  <ul class="unstyled">
    <li class="media">
      <!--
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, options = { size: 50 }) %>" alt="">
      </div>
      -->
      <div class="media-body">
        <!--
        <div>
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        -->
        
        <!-- 写真追加 -->
        <div>
          <% if micropost.image %>

            <a class="popup" href="<%= micropost.image %>"><%= image_tag(micropost.image, class: "micropost-image ") %></a>
            <%# !-- 不要箇所 classの位置に注意。image_tagの外にある<div class="">にclassを付けても意味ない --%>            
            
            <div class="text-center">
              <p><%= micropost.content %></p>
            </div>
          <% end %>
        </div>
        
        
        <div class="image-btn text-center">
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-delete' %>
          <% end %>
          <%# !-- favoriteボタン追加 --%>
          <% unless current_user == micropost.user %>
            <% if logged_in? %>
              <%= render 'favorites/favorites', micropost: micropost %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
  </div> <%#!--- col-md-3 --%>
<% end %>
</div>



<!-- 以下削除
<%#= form_for(@micropost) do |f| %>
  <div class="form-group">
    <%#= f.text_area :content, class: 'form-control', rows: 3 %>
  </div>
  <%#= f.submit 'Post', class: 'btn btn-primary center-block post-submit' %>
<%# end %>
-->